body , ul , li , p, a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family:Consolas, monaco, monospace;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    Font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style;
}

.logo img{
    width: 80px;
    padding-right: 6px;
}

.logo h1{
    display: block;
    margin: 0;
    color: rgb(38, 38, 108);
}

.logo h5{
    margin: 0;
    color: rgb(167, 165, 165);
    font-weight: normal;
    font-size: x-large;
}

.menu a{
    color: rgb(0, 0, 0);
}

.menu ul{
    display: block;
}

.menu ul li{
    font-size: medium;
    padding: 5px 0px;
}

.menu ul li a:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

#hd{
    display: flex;
    height: 500px;
    background:
        linear-gradient(rgba(6, 26, 76, 0.8), rgba(0, 0, 0, 0.8)),
        url('https://raw.githubusercontent.com/JhoneRodrigues/webPage-SolutionsIT/main/src/imgs/initial.jpg?token=GHSAT0AAAAAACMEMRZI4LVRBRFSJPCZ3K46ZMOGBKQ');
    background-position: center 72%;
    background-repeat: no-repeat;
    background-size: cover;
}

#hd div{
    color: #ffffff;
    padding-inline: 10% 40%;
    font-size: 1.9rem;
    display: flex;
    align-content: center;
    align-items: center;
}


