body , ul , li , p, a, h4, h3{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Graphik,Arial,system-ui,-apple-system,blinkmacsystemfont,Segoe UI,roboto,ubuntu,Helvetica Neue,oxygen,cantarell,sans-serif;
    text-decoration: none;
    color: #000;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.logo{
    display: flex;
    font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style;
}

header > nav > .logo{
    margin-left: 30px;
}

.logo img{
    width: 30%;
    height: 30%;
    padding-right: 10px;
}

.logo h1{
    display: block;
    margin: 0;
    color: rgb(38, 38, 108);
    font-size: 2.0em;
}

.logo h5{
    margin: 0;
    color: rgb(167, 165, 165);
    font-weight: normal;
    font-size: x-large;
}

/*Flex de navegacao*/
.menu-item{
    font-size: medium;
    padding: 5px 40px;
    color: rgb(0, 0, 0);
}

.menu-item>a:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

/*Estrurando o main com o footer*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    margin-top: 139.06px;
}

/*Titulo e sub*/
main > header{
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 30px 20px;
}

main > header > h3{
    margin-bottom: 20px;
    font-size: x-large;
}

/*Conteiner e coneccoes*/
.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 30px;
    margin: 10px;
}

.conteiner > div > a > p{
    font-size: 8.0rem;
    text-align: center;
}

.conteiner > div > h4{
    text-align: center;
    margin: 10px 0px;
    color: rgb(38, 38, 108);
}

.conteiner > div > a > p:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

.conteiner > div{
    flex: 1 1 400px;
    max-width: 600px;
    margin-top: 80px;
}

.conteiner > div > p{
    text-align: justify;
    padding-inline: 10px;
}

/*Rodape*/
footer{
    margin-top: 20px;
    background-color:rgb(245, 245, 245);
    justify-content: space-around;
    padding: 30px 30px;
}

footer section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer > section > div{
    margin-top: 30px;
    margin-inline: 50px;   
}

footer div > .logo h1{
    font-size: 1.5em;
    color: #000;
}

#contatos h3{
    margin: 0;
    font-size: 1.17em;
}

#contatos > div > a{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#contatos > div > a > h5{
    margin: 0;
}

#contatos > div > a >p{
    font-size: 1.7rem;
    margin-right: 8px;
}

#contatos > div > a:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

#rede-social{
    text-align: center;
}

#rede-social > div{
    display: flex;
    flex-direction: column;
}

#rede-social > div > a >p{
    font-size: 2rem;
    margin-right: 8px;
    margin-top: 7px;
}

#rede-social > div > a i:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

/*Direitos autorais*/
#by{
    text-align: center;
    margin-top: 100px;
    color: rgb(181, 181, 181);
}

/*Mobile nav config*/
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    padding-top: 100px;
    display: none;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index:1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
    .nav{
        height: 70px;
    }

    .nav > .logo > img{
        width: 20%;
        height: 20%;
        padding-right: 10px;
    }

    .nav > .logo > div > h1{
        font-size: 2rem;
    }

    .nav > .logo > div > h5{
        font-size: 1rem;
    }

    main {
        margin-top: 100px;
    }

    .conteiner > div{
        margin-top: 30px;
    } 

    footer .logo h1{
        font-size: 1.2em;
    }

    footer .logo h5{
        font-size: 0.9em;
    }
    
    /*Mobile nav config*/
    .menu-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button img{
        height: 40px;
    }

    .mobile-menu{
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .menu-item{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block; 
    }

    .noShadow{
        box-shadow: none;
    }
}