body , ul , li , p, a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Graphik,Arial,system-ui,-apple-system,blinkmacsystemfont,Segoe UI,roboto,ubuntu,Helvetica Neue,oxygen,cantarell,sans-serif;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
}

header img{
    padding-left: 40px;
}

.logo{
    height: 30%;
    display: flex;
    Font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style;
}

.logo img{
    width: 30%;
    height: 30%;
    padding-right: 10px;
}

.logo h1{
    display: block;
    margin: 0;
    color: rgb(38, 38, 108);
}

.logo h5{
    margin: 0;
    color: rgb(167, 165, 165);
    font-weight: normal;
    font-size: x-large;
}

.menu a{
    color: rgb(0, 0, 0);
}

.menu ul{
    display: block;
}

.menu ul li{
    font-size: medium;
    padding: 5px 40px;
}

.menu ul li a:hover{
    color: rgb(38, 38, 108);
    transition: color 0.5s ease;
}

/*Imagem inicial*/
#hd{
    display: flex;
    height: 100vh;
    background:
        linear-gradient(rgba(6, 26, 76, 0.8), rgba(0, 0, 0, 0.8)),
        url('https://raw.githubusercontent.com/JhoneRodrigues/webPage-SolutionsIT/main/src/imgs/initial.jpg');
    background-position: center 72%;
    background-size: cover;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*Texto dentro da imagem inicial*/
#hd div{
    color: #ffffff;
    padding-inline: 10% 40%;
    font-size: 1.9rem;
    display: flex;
    align-content: center;
    align-items: center;
}

main h3{
    text-align: center;
    font-size: 1.9rem;
    border: none;
    margin: 0px;
    padding: 30px;
}

.conteiner{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteiner > section{
    flex: 1 1 400px;
    margin: 10px;
}

.services{
    padding: 10px 30px;
    background-color:rgb(255, 255, 255);
    border-radius: 2%;
    width: 27%;
}

.services p{
    text-align: justify;
    margin: 20px 0px;
}

.img-text{
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
}

.img-text img {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    margin: 0 auto; 
    border-radius: 2%;
}

.img-text::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.246));
    border-radius: 2%; 
}   

.img-text h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-weight: bolder;
    color: #ffffff;
    font-size: x-large;
}

.img-text:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

footer{
    margin-top: 20px;
    background-color:rgb(245, 245, 245);
    justify-content: space-around;
    padding: 50px 30px;
}

footer section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer section div{
    margin-bottom: 40px;
}

#contatos h3{
    margin: 0;
}

#contatos p{
    padding-top: 10px;
}


#by{
    text-align: center;
    margin-top: 100px;
    color: rgb(181, 181, 181);
}

@media (max-width: 720px) {
        
    #hd{
    background-position: center;
    }


    #hd div{
    padding-inline: 10% 20%;
    font-size: 1.2rem;
    }

    .menu{
        display: none;
    }
}
